/* MAIN SETTINGS */
* {
  box-sizing: border-box; }

.canvas {
  font: 1em 'Roboto', sans-serif;
  line-height: 1.5; }

[class*="col-"] {
  float: left; }

.row {
  padding: 0.5em; }

.row:after {
  content: "";
  clear: both;
  display: block; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

/* MOBILE PHONE COLUMN GRID */
[class*="col-"] {
  width: 100%; }

/* EXTRA MOBILE PHONE GRID */
.col-m-6 {
  width: 50%; }

/* TABLET COLUMN GRID */
@media only screen and (min-width: 600px) {
  .col-t-1 {
    width: 8.33%; }

  .col-t-2 {
    width: 16.66%; }

  .col-t-3 {
    width: 25%; }

  .col-t-4 {
    width: 33.33%; }

  .col-t-5 {
    width: 41.66%; }

  .col-t-6 {
    width: 50%; }

  .col-t-7 {
    width: 58.33%; }

  .col-t-8 {
    width: 66.66%; }

  .col-t-9 {
    width: 75%; }

  .col-t-10 {
    width: 83.33%; }

  .col-t-11 {
    width: 91.66%; }

  .col-t-12 {
    width: 100%; } }
/* DESKTOP COLUMN GRID */
@media only screen and (min-width: 1024px) {
  .col-d-1 {
    width: 8.33%; }

  .col-d-2 {
    width: 16.66%; }

  .col-d-3 {
    width: 25%; }

  .col-d-4 {
    width: 33.33%; }

  .col-d-5 {
    width: 41.66%; }

  .col-d-6 {
    width: 50%; }

  .col-d-7 {
    width: 58.33%; }

  .col-d-8 {
    width: 66.66%; }

  .col-d-9 {
    width: 75%; }

  .col-d-10 {
    width: 83.33%; }

  .col-d-11 {
    width: 91.66%; }

  .col-d-12 {
    width: 100%; } }
/* MAIN CONTAINERS */
.wrapper {
  margin-right: auto;
  margin-left: auto; }

.wrapper-center {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto; }

.tablet {
  display: none; }

.desktop {
  display: none; }

.panel {
  width: 400px;
  height: 400px;
  margin: auto;
  position: relative; }

.card {
  width: 100%;
  height: 100%;
  -o-transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px; }

.front {
  z-index: 2;
  background-position: center;
  background-size: cover; }

.brand-bg {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0.8; }

.brand-logo {
  position: absolute;
  top: 110px;
  left: 110px; }

.brand-person {
  font-style: oblique;
  font-weight: bolder;
  font-size: 1.5rem; }

.back {
  z-index: 1;
  -webkit-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  transform: rotateY(-180deg); }

.brand-image-2 {
  background-image: url(../pics/brand2-bg.jpg);
  background-position: center;
  background-size: cover; }

.brand-image-1 {
  background-image: url(../pics/brand1-bg.jpg);
  background-position: center;
  background-size: cover; }

.brand-image-3 {
  background-image: url(../pics/brand3-bg.jpg);
  background-position: center;
  background-size: cover; }

.panel:hover .front {
  z-index: 1;
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.panel:hover .back {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  transform: rotateY(0deg); }

.about-us-box {
  margin-bottom: 4rem;
  font-size: 2.2vmin;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap; }

.box {
  padding: 2.2em; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

/* ICONS */
.footer-icon {
  text-decoration: none;
  color: white; }
  .footer-icon:hover {
    opacity: 0.5; }

/* TEXT SETTINGS */
p {
  font-size: 5vmin;
  margin: 0; }

.brand-text {
  color: white;
  font-size: 1.4rem;
  font-style: italic;
  position: absolute; }

.brand-1 {
  top: 75px;
  left: 25px; }

.brand-2 {
  top: 60px;
  left: 25px; }

.brand-3 {
  top: 40px;
  left: 25px; }

.h1,
.h2,
.h3 {
  margin-top: 8px;
  margin-bottom: 5px; }

.h1 {
  font-size: 7vmin;
  text-align: center;
  /*text-transform: uppercase;*/ }

.h2 {
  font-size: 4vmin;
  color: white; }

.h3 {
  font-size: 5.5vmin; }

ul {
  font-size: 5vmin; }

.h4 {
  font-size: 5vmin;
  margin: 5px; }

.h5 {
  font-size: 4.5vmin; }

.h6 {
  font-size: 4vmin; }

.section-header {
  font-size: 8vmin;
  padding: 3rem 0 2rem 0;
  text-align: center; }

.services {
  display: none;
  padding: 0 1rem 0 1rem;
  margin: 10px 20px 60px 20px;
  font-size: 2.3vmin; }

.text-center {
  text-align: center; }

.skills {
  height: 100px;
  background-image: linear-gradient(#F38BD3, #FE7880); }

/* IMAGES */
.circle-img {
  border-radius: 50%;
  width: 50%;
  height: 50%;
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); }

.bgimg-1 {
  min-height: 300px;
  background-image: url(../pics/pinklady.jpg);
  background-size: cover; }

.bgimg-1fix {
  min-height: 300px;
  background-position: center;
  background-size: cover;
  background-image: url(../pics/pinklady-fix.jpg); }

.bgimg-2 {
  min-height: 300px;
  background-image: url(../pics/pinklady2.jpg); }

.bgimg-2fix {
  min-height: 300px;
  background-position: center;
  background-size: cover;
  background-image: url(../pics/pinklady2-fix.jpg); }

.bgimg-3 {
  min-height: 300px;
  background-image: url(../pics/pinklady3.jpg); }

.bgimg-3fix {
  min-height: 300px;
  background-position: center;
  background-size: cover;
  background-image: url(../pics/pinklady3-fix.jpg); }

.parallax {
  /*display: none;*/
  /* FORMS */
  /* ANIMATIONS */
  /* LISTS */
  /* LINKS */
  /* PADDINGS & MARGINS */
  /* COLORS */
  /*EXTRA*/ }
  .parallax .parallax {
    display: none;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .parallax .grow {
    width: 85%; }
  .parallax .contact-form .text-form {
    outline: none;
    border: none;
    border-bottom: 2px solid #E28F9A;
    padding: 12px 8px; }
    .parallax .contact-form .text-form:focus {
      background-color: #EFEFD2; }
  .parallax .contact-form .textarea-form {
    outline: none;
    border: none;
    border-bottom: 2px solid #E28F9A;
    resize: none;
    padding: 12px 8px; }
    .parallax .contact-form .textarea-form:focus {
      background-color: #EFEFD2; }
  .parallax .contact-form .submit-button {
    outline: none;
    border: 2px solid #DC4A5C;
    border-radius: 25px;
    background-color: white;
    width: 60%;
    padding: 10px;
    color: #4B4D54;
    transition: all 0.5s;
    cursor: pointer; }
    .parallax .contact-form .submit-button:hover {
      background-color: #DC4A5C;
      color: white; }
  .parallax .topnav {
    text-align: right;
    background-color: transparent;
    z-index: 3;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; }
  .parallax .fp-header {
    height: 100vh;
    background-image: url(../pics/header1.jpg);
    background-size: cover;
    background-position: center; }
  .parallax .header-text {
    position: absolute;
    top: 45%;
    text-align: center;
    width: 100%;
    color: #EFF0D1;
    font-size: 22px; }
  .parallax .ease-08 {
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease; }
  .parallax .desktop-nav {
    margin: 0;
    padding: 5px; }
  .parallax .logo {
    margin: 10px 0 0 10px;
    float: left;
    width: 35px;
    height: 40px; }
  .parallax .nav-item {
    display: none;
    min-height: 40px; }
  .parallax .responsive-nav {
    position: relative;
    padding: 0;
    margin: 0; }
  .parallax .nav-links:hover {
    color: rgba(223, 72, 89, 0.5);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .parallax .responsive-nav .nav-item {
    float: none;
    display: inline; }
    .parallax .responsive-nav .nav-item .nav-links {
      display: block;
      text-align: left; }
      .parallax .responsive-nav .nav-item .nav-links:hover {
        color: rgba(223, 72, 89, 0.5);
        -webkit-transition: all 0.8s ease;
        transition: all 0.8s ease; }
  .parallax .no-style {
    list-style: none; }
  .parallax .inline-flex {
    display: inline-flex; }
  .parallax .nav-links {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 5vmin;
    min-height: 40px; }
  .parallax .links {
    text-decoration: none;
    color: #2a2b2f; }
  .parallax .active {
    color: rgba(223, 72, 89, 0.5); }
  .parallax .nav-icon {
    font-size: 1.5rem;
    text-decoration: none;
    color: white; }
  .parallax .nav-icon:hover {
    background-color: none;
    cursor: pointer; }
  .parallax .nav-logo {
    float: left;
    padding: 5px; }
  .parallax .scrollToTop {
    display: none;
    position: fixed;
    bottom: 0;
    left: 45vw; }
    .parallax .scrollToTop i {
      color: #e48e98; }
  .parallax .p-5 {
    padding: 5px; }
  .parallax .p-10 {
    padding: 10px; }
  .parallax .p-25 {
    padding: 25px; }
  .parallax .p-40 {
    padding: 40px; }
  .parallax .p-70 {
    padding: 70px; }
  .parallax .m-0 {
    margin: 0; }
  .parallax .p-0 {
    padding: 0; }
  .parallax .pb-0 {
    padding-bottom: 0; }
  .parallax .pb-10 {
    padding-bottom: 10px; }
  .parallax .pb-45 {
    padding-bottom: 45px; }
  .parallax .pr-0 {
    padding-right: 0; }
  .parallax .pr-10 {
    padding-right: 10px; }
  .parallax .pl-0 {
    padding-left: 0; }
  .parallax .pt-0 {
    padding-top: 0; }
  .parallax .pt-40 {
    padding-top: 40px; }
  .parallax .pt-115 {
    padding-top: 115px; }
  .parallax .mb-15 {
    margin-bottom: 15px; }
  .parallax .mb-64 {
    margin-bottom: 64px; }
  .parallax .pt-20 {
    padding-top: 20px; }
  .parallax .pt-40 {
    padding-top: 40px; }
  .parallax .pt-115 {
    padding-top: 115px; }
  .parallax .mb-25 {
    margin-bottom: 25px; }
  .parallax .mb-48 {
    margin-bottom: 48px; }
  .parallax .mt-50 {
    margin-top: 50px; }
  .parallax .ml-10 {
    margin-left: 10px; }
  .parallax .mt-5 {
    margin-top: 17px; }
  .parallax .bgc-red {
    background-color: #df4859; }
  .parallax .bgc-black {
    background-color: black; }
  .parallax .bgc-paradise-pink {
    background-color: #DF4859; }
  .parallax .bgc-eggshell {
    background-color: #EFF0D1; }
  .parallax .tc-white {
    color: white; }
  .parallax .tc-rudy-pink {
    color: #E48E98; }
  .parallax .tc-grey {
    color: #4B4D54; }
  .parallax .tc-headerblack {
    color: #2a2b2f; }
  .parallax .linje {
    margin-top: 15px;
    margin-bottom: 15px; }
  .parallax .focus-box:nth-child(3n+1) .service-icon:hover {
    border: 10px solid #DF4859; }
  .parallax .focus-box:nth-child(3n+2) .service-icon:hover {
    border: 10px solid #E48E98; }
  .parallax .focus-box:nth-child(3n+3) .service-icon:hover {
    border: 10px solid #EFF0D1; }
  .parallax .focus-box .service-icon {
    border-radius: 50%;
    border: 10px solid #ececec;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

/*# sourceMappingURL=main.css.map */
