@import 'variables';
@function calculate-col-width ($col-span) {
  @return (100% / 12) * $col-span;
}

@each $number in 1, 2, 3, 4, 5 {
  .brand-image-#{$number} {
    background-image: url('../pics/brand#{$number}-bg.jpg');
  }
}

@each $number in 1, 2, 3 {
  .bgimg-#{$number} {
    background-image: url('../pics/blackspider#{$number}.jpg');
  }
  .bgimg-#{$number}fix {
    background-image: url('../pics/blackspider#{$number}-fix.jpg');
  }
}
