//MAIN VARIABLES
$font-primary: 'Roboto', sans-serif;
$base-font: 1rem;
// DEVICES
$phone: 320px;
$tablet: 600px;
$desktop: 1024px;
// COLUMNS

// COLORS
$pink: #E5959E;
$red: #DF4859;
$yellow:#EFEFD5;
$black: #000000;
$white: #FFFFFF;
$grey: #676468;
