$base-font: 1rem;

// DEVICES
$small-phone: 320px;
$medium-phone: 375px;
$large-phone: 425px;
$tablet: 660px;
$desktop: 1024px;

// COLUMNS
$w1: 8.33%;
$w2: 16.66%;
$w3: 25%;
$w4: 33.33%;
$w5: 41.66%;
$w6: 50%;
$w7: 58.33%;
$w8: 66.66%;
$w9: 75%;
$w10: 83.33%;
$w11: 91.66%;
$w12: 100%;
