@import 'variables';
@import 'mixins';

/* MAIN SETTINGS */

* {box-sizing:border-box;}

.canvas {font: 1em 'roboto', sans-serif; line-height: 1.5; overflow-x: hidden;}

[class*="col-"] {float:left;}

.row {padding: 0.5em;}

.row:after {content:""; clear:both; display:block;}

img {max-width: $w12; height:auto; vertical-align: middle;}

/* MOBILE PHONE COLUMN GRID */

[class*="col-"] {width:$w12;}


/* TABLET COLUMN GRID */

@media only screen and (min-width:$tablet) {

.col-t-1 {width:$w1;}
.col-t-2 {width:$w2;}
.col-t-3 {width:$w3;}
.col-t-4 {width:$w4;}
.col-t-5 {width:$w5;}
.col-t-6 {width:$w6;}
.col-t-7 {width:$w7;}
.col-t-8 {width:$w8;}
.col-t-9 {width:$w9;}
.col-t-10 {width:$w10;}
.col-t-11 {width:$w11;}
.col-t-12 {width:$w12;}

}

/* DESKTOP COLUMN GRID */

@media only screen and (min-width:$desktop) {

.col-d-1 {width:$w1;}
.col-d-2 {width:$w2;}
.col-d-3 {width:$w3;}
.col-d-4 {width:$w4;}
.col-d-5 {width:$w5;}
.col-d-6 {width:$w6;}
.col-d-7 {width:$w7;}
.col-d-8 {width:$w8;}
.col-d-9 {width:$w9;}
.col-d-10 {width:$w10;}
.col-d-11 {width:$w11;}
.col-d-12 {width:$w12;}

}

/* MAIN CONTAINERS */

.wrapper-center {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin: auto;
}

.tablet {display: none;}
.desktop {display: none;}

.panel {
    width: 100%;
    height: 200px;
    margin: 8px auto;
    position: relative;
}

.card {
    width: 100%;
    height: 100%;
    -o-transition: all .5s;
    -ms-transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
}

.front {
    z-index: 2;
    background-position: center;
    background-size: cover;
}

.brand-bg {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0.8;
}


.brand-logo {
  position: absolute;
  margin: auto;
  top: 3.2rem;
  left: 6.5rem;
  width: 32%;
  }

.back {
    z-index: 1;
    -webkit-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.back-x {
    z-index: 1;
    -webkit-transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}

.brand-image-2 {
  background-image: url(../pics/brand2-bg.jpg);
  background-position: center;
  background-size: cover;
}

.brand-image-1 {
  background-image: url(../pics/brand1.1-bg.jpg);
  background-position: center;
  background-size: cover;
}

.brand-image-3 {
  background-image: url(../pics/brand3-bg.jpg);
  background-position: center;
  background-size: cover;
}

.brand-image-4 {
  background-image: url(../pics/brand4-bg.jpg);
  background-position: center;
  background-size: cover;
}

.brand-image-5 {
  background-image: url(../pics/brand5-bg.jpg);
  background-position: center;
  background-size: cover;
}

.panel:hover .front {
    z-index: 1;
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.panel:hover .front-x {
    z-index: 1;
    -webkit-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.panel:hover .back {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
.panel:hover .back-x {
    z-index: 2;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    transform: rotateY(0deg);
}


.box {padding: 2.1em;}
.textbox{padding-top: 1em; padding-bottom: 1em;}
.flex-center {@include flex(center, center);}


/* ICONS */

.footer-icon{
  text-decoration: none;
  color: white;
  &:hover{
    opacity: 0.5;
  }
}

/* TEXT SETTINGS */

p{font-size: 1rem; margin-top: 0.5rem; margin-bottom: 0;}
h1{font-size: 1.7em; margin-bottom: 0;}
h2{font-size: 1.6em; font-weight: bold;}
h3{font-size: 1.1em; margin: 0;}
h4{font-size: 1em; margin:0;}
h5{font-size: 1.3em;}
li{font-size: 1em;}


  .brand-text {
    font-size: 0.9rem;
    font-style: italic;
    position: absolute;
    margin: auto;
    width: 80%;
    top: 2rem;
    left: 2rem;
    }

  .brand-person {
    font-size: 1rem;
    position: absolute;
    margin: auto;
    font-style: oblique;
    font-weight: bolder;
 }

.services {
  display: none;
}

.text-center {
  text-align: center;
}

.skills{
  height: 100pxblockquote;
  background-image: linear-gradient(#F38BD3, #FE7880);
}

a {text-decoration: none}

.font-bold {
  font-weight: bold;
}

/* IMAGES */

  .circle-img{
    border-radius: 50%;
    width: 50%;
    height: 50%;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .8);
}

.bgimg-1 {
    min-height: 320px;
    background-image: url(../pics/blackspider.jpg);
}

.bgimg-1fix {
  min-height: 300px;
  background-position: center;
  background-size: cover;
  background-image: url(../pics/pinklady-fix.jpg);
}

.bgimg-2 {
  min-height: 320px;
  background-image: url(../pics/blackspider2.jpg)
}

.bgimg-2fix {
  min-height: 300px;
  background-position: center;
  background-size: cover;
  background-image: url(../pics/pinklady2-fix.jpg);
}

.bgimg-3 {
  min-height: 320px;
  background-image: url(../pics/blackspider3.jpg)
}

.bgimg-3fix {
  min-height: 300px;
  background-position: center;
  background-size: cover;
  background-image: url(../pics/pinklady3-fix.jpg);
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grow {
  width: 85%;
}

/* FORMS */
.contact-form{
  .text-form{
    outline: none;
    border: none;
    border-bottom: 2px solid #E28F9A;
    padding: 12px 8px;
    &:focus{
      background-color: #EFEFD2;
    }
  }
  .textarea-form{
    outline: none;
    border: none;
    border-bottom: 2px solid #E28F9A;
    resize: none;
    padding: 12px 8px;
    &:focus{
      background-color: #EFEFD2;
    }
  }
  .submit-button{
    outline: none;
    border: 2px solid #DC4A5C;
    border-radius: 25px;
    background-color: white;
    width: 60%;
    padding: 10px;
    color: #4B4D54;
    transition: all 0.5s;
    cursor: pointer;
    &:hover{
      background-color: #DC4A5C;
      color: white;
    }
  }
}

.topnav {
  background-color: transparent;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 4;
}

.fp-header{
  height: 100vh;
  background-image: url(../pics/header1.jpg);
  background-size: cover;
  background-position: center;
}

.header-text{
  width:100%;
  margin-top: 220px;
  font-size: 2.9rem;
  text-align: center;
  z-index: 0;
}

.header-text2{
  width:100%;
  font-size: 1rem;
  text-align: center;
  z-index: 0;
}

  /* ANIMATIONS */
    .ease-08 {
      -webkit-transition: all 0.8s ease;
      transition: all 0.8s ease;
    }

    .linear-05 {
      -webkit-transition: all 0.5s linear;
      transition: all 0.5s linear;
    }

/* LISTS */

.desktop-nav {
  display: none;
  margin: 0;
  padding: 5px;
  text-align: right;
  list-style-type: none;
}
.logo {
  margin: 10px 0 0 10px;
  float: left;
  width: 35px;
  height: 40px;
}

.no-style{list-style: none;}
.inline-flex {display: inline-flex;}

/* LINKS */
.nav-links {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 15px;
  text-decoration: none;
  font-size: 5vmin;
  min-height: 40px;
}

.nav-links:hover {
  color: rgba(223, 72, 89, 0.5);
  transition: all 0.3s ease;
}

.nav-mobile:hover {
  color: rgba(223, 72, 89, 0.5);
}

.links{
  text-decoration: none;
  color: #2a2b2f;
}

.active {
  color: rgba(223, 72, 89, 0.5);
}

.nav-icon {
  position: absolute;
	display:  inline-block;
	width: 30px;
	height: 30px;
	margin: 25px;
  color: white;
  top: 0;
  right: 0;
  z-index: 4;
  cursor: pointer;
}

.nav-icon span {
  margin: 0 auto;
	position: absolute;
	top: 12px;
  -webkit-transition-duration: 0s; transition-duration: 0s;
	-webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}

input[type="checkbox"]:checked ~ .nav-icon span {
  background-color: rgba(0,0,0,0.0);
	-webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}

.nav-icon span:before, .nav-icon span:after {
  position: absolute;
	content: '';
}

.nav-icon span, .nav-icon span:before, .nav-icon span:after {
  width: 30px;
	height: 6px;
	background-color: white;
	display: block;
}

.nav-icon span:before {
  margin-top: -12px;
  -webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
-webkit-transition-duration: 0.2s; transition-duration: 0.2s;
-webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
}

input[type="checkbox"]:checked ~ .nav-icon span:before {
  margin-top: 0;
	-webkit-transform: rotate(45deg); transform: rotate(45deg);
	-webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
}

.nav-icon span:after {
  margin-top: 12px;
  -webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
-webkit-transition-duration: 0.2s; transition-duration: 0.2s;
-webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
}

input[type="checkbox"]:checked ~ .nav-icon span:after {
  margin-top: 0;
	-webkit-transform: rotate(-45deg); transform: rotate(-45deg);
	-webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
}

input[type="checkbox"] {
  visibility: hidden;
}

input[type="checkbox"]:checked + label{
    color: rgba(223, 72, 89, 0.5);
}

input[type="checkbox"]:checked ~ .responsive-nav{
  display: block;
}

input[type="checkbox"]:checked ~ .responsive-nav .nav-item{
  transition: all 0.8s ease;
  -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
}

.responsive-nav {
  display: none;
  list-style-type: none;
  text-align: center;
  background-color: black;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav-logo {
  z-index: 4;
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px;
}

.scrollToTop{
  display: none;
  position:fixed;
  height: 25px;
  width: 45px;
  border-radius: 10px;
  background-color: #38383b;
  bottom: 0;
  right: 0;
    i
    {
    color: white;
    font-size: 24px;
    left: 10px;
    top: 8px;
    position: absolute;
  }
  &:hover {
    opacity: 0.8;
    transition: all .3s ease;
  }
}

/* PADDINGS */
.p-0{padding: 0;}
.p-5{padding: 5px;}
.p-10{padding: 10px;}
.p-25{padding: 25px;}
.p-40{padding: 40px;}
.pb-10{padding-bottom: 10px;}
.pb-45{padding-bottom: 45px;}
.pb-50{padding-bottom: 50px;}
.pr-0{padding-right: 0;}
.pr-10{padding-right: 10px;}
.pl-0{padding-left: 0;}
.pt-50{padding-top: 50px;}

/* & MARGINS */
.m-0{margin: 0;}
.mb-10{margin-bottom: 10px;}
.mb-15{margin-bottom: 15px;}
.mt-15{margin-top: 15px;}
.mt-50 {margin-top: 50px;}
.mt-200 {margin-top: 200px};
.ml-10 {margin-left: 10px;}
.my-15{margin-top: 15px; margin-bottom: 15px;}
.my-50{margin-top: 50px; margin-bottom: 50px;}


/* COLORS */
.bgc-black {
  background-color: black;
}

.bgc-paradise-pink {
  background-color: #DF4859;
}

.bgc-eggshell {
  background-color: #EFF0D1;
}
.bgc-blue-bird {
  background-color: #55adbd;
}
.bgc-green-sparrow {
  background-color: #9fbd55;
}

.bgc-grey-wolf {
  background-color: #959596;
}

.tc-white {
  color: white;
}

.tc-rudy-pink {
  color: #E48E98;
}

.tc-grey {
  color: #4B4D54;
}

.tc-headerblack {
  color: #2a2b2f;
}

/*EXTRA*/
.about-border-box:nth-child(3n+1) .service-icon:hover {
 border: 5px solid #DF4859;
       }
.about-border-box:nth-child(3n+2) .service-icon:hover{
  border: 5px solid #E48E98;
}
.about-border-box:nth-child(3n+3) .service-icon:hover {
  border: 5px solid #EFF0D1;
}

.service-icon {
  height: 200px;
  width: 200px;
  border-radius: 30%;
  border: 10px solid #ececec;
  position: relative;
 transition: all 0.2s ease-in-out;
  }

.about-border-box {
  margin: auto;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  }
