@import 'variables', 'mixins', 'animations', 'placeholders', 'functions';
/* MAIN SETTINGS */
* {
    box-sizing: border-box;
}

body {
  @media #{$tablet} {
    font-size: 1rem;
  }
}

.canvas {
    font-size: 0.9em;
    font-family: $font-primary;
    line-height: 1.5;
    overflow-x: hidden;
}

[class*="col-"] {
    float: left;
}

.row {
    padding-top: 1rem;
    padding-bottom: 1rem;

    @media #{$tablet} {
      padding-top: 2rem;
      padding-bottom: 0;
    }
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
/* MOBILE PHONE COLUMN GRID */
[class*="col-"] {
    width: 100%;
}

.col-m-6 {
    width: calculate-col-width(6);
}
/* TABLET COLUMN GRID */
@media #{$tablet} {
    .col-t-1 {
        width: calculate-col-width(1);
    }

    .col-t-2 {
        width: calculate-col-width(2);
    }

    .col-t-3 {
        width: calculate-col-width(3);
    }

    .col-t-4 {
        width: calculate-col-width(4);
    }

    .col-t-5 {
        width: calculate-col-width(5);
    }

    .col-t-6 {
        width: calculate-col-width(6);
    }

    .col-t-7 {
        width: calculate-col-width(7);
    }

    .col-t-8 {
        width: calculate-col-width(8);
    }

    .col-t-9 {
        width: calculate-col-width(9);
    }

    .col-t-10 {
        width: calculate-col-width(10);
    }

    .col-t-11 {
        width: calculate-col-width(11);
    }

    .col-t-12 {
        width: calculate-col-width(12);
    }
}
/* DESKTOP COLUMN GRID */
@media #{$desktop} {
    .col-d-1 {
        width: calculate-col-width(1);
    }

    .col-d-2 {
        width: calculate-col-width(2);
    }

    .col-d-3 {
        width: calculate-col-width(3);
    }

    .col-d-4 {
        width: calculate-col-width(4);
    }

    .col-d-5 {
        width: calculate-col-width(5);
    }

    .col-d-6 {
        width: calculate-col-width(6);
    }

    .col-d-7 {
        width: calculate-col-width(7);
    }

    .col-d-8 {
        width: calculate-col-width(8);
    }

    .col-d-9 {
        width: calculate-col-width(9);
    }

    .col-d-10 {
        width: calculate-col-width(10);
    }

    .col-d-11 {
        width: calculate-col-width(11);
    }

    .col-d-12 {
        width: calculate-col-width(12);
    }
}
/* MAIN CONTAINERS */
.wrapper-center {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-right: auto;
    margin-left: auto;

    @media #{$tablet} {
      padding-right: 1rem;
      padding-left: 1rem;
    }

    @media #{$desktop} {
      width: 85%;
    }
}

.mobile {
  display: block;
  @media #{$tablet} {
    display: none;
  }
}

.tablet {
    display: none;
    @media #{$tablet} {
      display: block;
    }
}

.desktop {
    display: none;
    @media #{$desktop} {
      display: block;
    }
}

.wrapper-p {

  @media #{$tablet} {
    width: 70%;
    margin: auto;
  }

  @media #{$desktop} {
    width: 60%;
  }
}

.divider {
    padding-top: 4rem;
    padding-bottom: 4rem;
    @media #{$tablet} {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
}

.panel {
    width: 100%;
    height: 200px;
    margin: 8px auto;
    position: relative;

    @media #{$tablet} {
      width: 95%;
      height: 250px;
    }

    @media #{$desktop} {
      height: 300px;
    }
}

.card {
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    background-position: center;
    background-size: cover;
}

.brand-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
}

.brand-logo {
    width: 30%;
}

.back {
    z-index: 1;
    transform: rotateY(-180deg);
}

.back-x {
    z-index: 1;
    transform: rotateX(-180deg);
}

.brand-image-1 {
    @extend %bg-image;
}

.brand-image-2 {
    @extend %bg-image;
}

.brand-image-3 {
    @extend %bg-image;
}

.brand-image-4 {
    @extend %bg-image;
}

.brand-image-5 {
    @extend %bg-image;
}

.panel:hover .front {
    z-index: 1;
    transform: rotateY(180deg);
}

.panel:hover .front-x {
    z-index: 1;
    transform: rotateX(180deg);
}

.panel:hover .back {
    z-index: 2;
    transform: rotateY(0deg);
}

.panel:hover .back-x {
    z-index: 2;
    transform: rotateY(0deg);
}

.textbox {
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    margin-top: 1em;

    @media #{$tablet} {
      padding-left: 3em;
      padding-right: 3em;
      text-align: left;
    }

    @media #{$desktop} {
      padding-left: 6em;
      padding-right: 6em;
    }
}

.flex-center {
    @include flex(center, center);
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.work {
    width: 100%;
    height: 350px;
    background: linear-gradient(-141deg, #DF4859 0%, #E48E98 75%);
}
/* ICONS */
.footer-icon {
    text-decoration: none;
    color: $white;
    padding: 0.1em;
    transition: 0.25s ease-in-out;

    &:hover {
        transform: scale(1.2);
        transition: 0.25s ease-in-out;
        color: #E48E98;
    }
}

/* TEXT SETTINGS */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #505054;
    font-weight: bold;
    line-height: 1.3em;
}

li,
p {
    @include autoColor(none);
    font-weight: 400;
    line-height: 1.8;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.footer-header {
    margin-bottom: 0.5rem;
}

.header-text {
    font-size: $base-font * 4;
    font-weight: 700;
    text-align: center;

    @media #{$tablet} {
      font-size: $base-font * 5;
    }
}

.header-text2 {
    font-size: $base-font * 1.8;
    font-weight: bold;
    text-align: center;

    @media #{$tablet} {
      font-size: $base-font * 1.9;
    }

    @media #{$desktop} {
      font-size: $base-font * 2.0;
    }
}

.footer-text {
  @media #{$tablet} {
    font-size: $base-font * 0.8;
  }
}

li {
    font-size: $base-font;
    @media #{$tablet} {
      font-size: 1.1rem;
    }
}

h1 {
    font-size: $base-font * 1.8;
    @media #{$tablet} {
      font-size: 2.8rem;
    }
    @media #{$desktop} {
      font-size: 2.9rem;
    }
}

h2 {
    font-size: $base-font * 1.6;
    @media #{$tablet} {
      font-size: 1.9rem;
    }
    @media #{$desktop} {
      font-size: 2.2rem;
    }
}

h3 {
    font-size: $base-font * 1.2;

    @media #{$tablet} {
      font-size: 1.5rem;
    }
    @media #{$desktop} {
      font-size: 1.4rem;
    }
}

h4 {
    font-size: $base-font * 1.1;
    margin: 0;

    @media #{$tablet} {
      font-size: 1.2rem;
    }
}

h5 {
    font-size: $base-font;
    margin: 0;

    @media #{$tablet} {
      font-size: 1.1rem;
    }
}

h6 {
    font-size: $base-font * 1.4;

    @media #{$tablet} {
      font-size: 1.8rem;
    }
}

.brand-text {
    font-size: $base-font * 0.9;
    font-style: italic;

    @media #{$desktop} {
      font-size: $base-font * 1.2;
    }
}

.brand-person {
    font-style: oblique;
    font-weight: bolder;
}

.text-center {
    text-align: center;
}

.skills {
    height: 100px;
    background-image: linear-gradient(#F38BD3, #FE7880);
}

.font-bold {
    font-weight: bold;
}

.section-header {
    font-variant: small-caps;
    text-align: center;
}

.service-text {
    margin: 1em 0;
}

.footer-minitext {
    font-size: $base-font * 0.8;
    color: $white;
    text-align: center;
    font-weight: bolder;
    margin: 0;
}
/* IMAGES */
.circle-img {
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    cursor: pointer;
    height: 200px;
    width: 200px;
    border-radius: 30%;
    border: 10px solid #ececec;
    position: relative;
    transition: all 0.2s ease-in-out;

    @media #{$tablet} {
      height: 170px;
      width: 170px;
    }
}

.bgimg-1 {
    @extend %bg-image;
    display: none;
    text-align: center;
    background-attachment: fixed;
    min-height: 320px;

    @media #{$desktop} {
      @include flex(center, center);
    }
}

.bgimg-1fix {
    @extend %bg-image;
    @include flex(center, center);
    text-align: center;
    min-height: 300px;

    @media #{$desktop} {
      display: none;
    }
}

.bgimg-2 {
    @extend %bg-image;
    display: none;
    text-align: center;
    background-attachment: fixed;
    min-height: 320px;

    @media #{$desktop} {
      @include flex(center, center);
    }
}

.bgimg-2fix {
    @extend %bg-image;
    @include flex(center, center);
    text-align: center;
    min-height: 300px;

    @media #{$desktop} {
      display: none;
    }
}

.bgimg-3 {
    @extend %bg-image;
    display: none;
    text-align: center;
    background-attachment: fixed;
    min-height: 320px;

    @media #{$desktop} {
      @include flex(center, center);
    }
}

.bgimg-3fix {
    @extend %bg-image;
    @include flex(center, center);
    text-align: center;
    min-height: 300px;

    @media #{$desktop} {
      display: none;
    }
}

.spider-logo-footer {
    width: 15%;
    display: block;
    margin: 0 auto;

    @media #{$tablet} {
      display: none;
    }
}
/* FORMS */
.contact-form {
    .text-form {
        outline: none;
        border: none;
        border-bottom: 2px solid #E28F9A;
        padding: 12px 8px;
        margin: 0 0 1rem;

        &:focus {
            background-color: #F6F6F6;
            border-color: #E28F9A;
            border-radius: 0 15px 0 0;
        }

        &:focus::-webkit-input-placeholder {
            transition: text-indent 1s 0.2s ease-in;
            text-indent: -100%;
            opacity: 1;
        }

        [type=text] {
            text-indent: 0;
        }
    }

    .textarea-form {
        outline: none;
        border: none;
        border-bottom: 2px solid #E28F9A;
        resize: none;
        padding: 12px 8px;

        &:focus {
            background-color: #F6F6F6;
            border-color: #E28F9A;
            border-radius: 0 15px 0 0;
        }

        &:focus::-webkit-input-placeholder {
            transition: text-indent 1s 0.2s ease-in;
            text-indent: -100%;
            opacity: 1;
        }

        [type=text] {
            text-indent: 0;
        }
    }

    .submit-button {
        outline: none;
        border: 2px solid $red;
        border-radius: 25px;
        background-color: $white;
        width: 60%;
        padding: 10px;
        color: #4B4D54;
        transition: all 0.5s;
        cursor: pointer;

        @media #{$tablet} {
          width: 20%;
        }

        &:hover {
            background-color: $red;
            color: $white;
        }
    }
  }

input[type=submit] {
  @media #{$desktop} {
    width: 50%;
  }
}

.topnav {
    background-color: transparent;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 4;
    @media #{$tablet} {
      position: fixed;
    }
}

.fp-header {
    height: 100vh;
    background-image: url("../pics/header1.jpg");
    background-size: cover;
    background-position: center;
}

.z-0 {
    z-index: 0;
}
/* ANIMATIONS */
.ease-08 {
    transition: all 0.8s ease;
}

.linear-05 {
    transition: all 0.5s linear;
}
/* LISTS */
.desktop-nav {
    margin: 0;
    padding: 5px;
    text-align: right;
    list-style-type: none;

  @media #{$desktop} {
    padding: 12px;
  }
}

.logo {
    margin: 10px 0 0 10px;
    float: left;
    width: 35px;
    height: 40px;
}

.no-style {
    list-style: none;
    padding: 0;
    margin: 0;
}

.inline-block {
    display: inline-block;
}
/* LINKS */
.nav-links {
    display: inline-block;
    color: $white;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 6vmin;
    min-height: 40px;

    @media #{$tablet} {
      font-size: 19px;
    }
    &:hover {
      color: $red;
      transition: all 0.3s ease;
    }

    @media #{$desktop} {
      font-size: 24px;
    }
}

.active {
    color: $red;

      @media #{$tablet} {
        color: $white;
      }
}

.nav-item {

  @media #{$tablet} {
    display: inline-block;
  }
}

.nav-links:hover {
    color: $red;
    transition: all 0.3s ease;
}

.nav-mobile:hover {
    color: $red;
}

.nav-icon {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 25px;
    color: $white;
    top: 0;
    right: 0;
    z-index: 4;
    cursor: pointer;

    @media #{$tablet} {
      display: none;
    }

}

.nav-icon span {
    margin: 0 auto;
    position: absolute;
    top: 12px;
    transition-duration: 0s;
    transition-delay: 0.2s;
}

input[type="checkbox"]:checked ~ .nav-icon span {
    background-color: $black;
    transition-delay: 0.2s;
}

.nav-icon span:after,
.nav-icon span:before {
    position: absolute;
    content: '';
}

.nav-icon span,
.nav-icon span:after,
.nav-icon span:before {
    width: 30px;
    height: 6px;
    background-color: $white;
    display: block;
}

.nav-icon span:before {
    margin-top: -12px;
    transition-property: margin, transform;
    transition-duration: 0.2s;
    transition-delay: 0.2s, 0s;
}

input[type="checkbox"]:checked ~ .nav-icon span:before {
    margin-top: 0;
    transform: rotate(45deg);
    transition-delay: 0s, 0.2s;
}

.nav-icon span:after {
    margin-top: 12px;
    transition-property: margin, transform;
    transition-duration: 0.2s;
    transition-delay: 0.2s, 0s;
}

input[type="checkbox"]:checked ~ .nav-icon span:after {
    margin-top: 0;
    transform: rotate(-45deg);
    transition-delay: 0s, 0.2s;
}

input[type="checkbox"] {
    visibility: hidden;
}

input[type="checkbox"]:checked + label {
    color: rgba(223, 72, 89, 0.5);
}

input[type="checkbox"]:checked ~ .responsive-nav {
    display: block;
}

input[type="checkbox"]:checked ~ .responsive-nav .nav-item {
    transition: all 0.8s ease;
    transition-duration: 0.2s;
    transition-delay: 0.2s, 0s;
}

.responsive-nav {
    display: none;
    list-style-type: none;
    text-align: center;
    background-color: $black;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.nav-logo {
    z-index: 4;
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
  }

#logo {
    @media #{$tablet} {
      width: 90%;
    }

    @media #{$desktop} {
      width: 115%;
      padding: 8px;
    }

  }

.scrollToTop {
    display: none;
    position: fixed;
    height: 25px;
    width: 45px;
    border-radius: 10px;
    background-color: #38383b;
    bottom: 0;
    right: 0;

    @media #{$tablet} {
      display: none;
    }

    i {
        color: $white;
        font-size: 24px;
        left: 10px;
        top: 8px;
        position: absolute;
    &:hover {
        opacity: 0.8;
        transition: all 0.3s ease;
        }
      }
}
/* PADDINGS */
.p-0 {
    padding: 0;
}

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-25 {
    padding: 25px;
}

.p-40 {
    padding: 40px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-45 {
    padding-bottom: 45px;

    @media #{$tablet} {
      padding-bottom: 0;
    }
}

.pb-50 {
    padding-bottom: 50px;
}

.pr-0 {
    padding-right: 0;
}

.pr-10 {
    padding-right: 10px;
}

.pl-0 {
    padding-left: 0;
}

.pt-0 {
    padding-top: 0;
}

.pt-50 {
    padding-top: 50px;
}

.pb-3 {
    padding-bottom: 3rem;

    @media #{$tablet} {
      padding-bottom: 0;
    }
}

.p-05 {
    padding: 0.5em;
}

.pt-1 {
    padding-top: 1rem;

    @media #{$tablet} {
      padding-top: 0;
    }
}

.pt-2 {
    padding-top: 2rem;

    @media #{$tablet} {
      padding-top: 0;
    }
}

.pb-5-tablet {
  @media #{$tablet} {
    padding-bottom: 5rem;
  }
}

.pt-35-tablet {
  @media #{$tablet} {
    padding-top: 3.5rem;
  }

  @media #{$desktop} {
    padding-top: 0;
  }
}

.pt-35-dektop {

  @media #{$desktop} {
    padding-top: 3.5rem;
  }
}


/* & MARGINS */
.m-0 {
    margin: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 2rem;
    @media #{$tablet} {
      margin-bottom: 0;
    }
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-3 {
    margin-bottom: 3rem;
    @media #{$tablet} {
      margin-bottom: 0;
    }
}

.mb-1 {
    margin-bottom: 1rem;
}

.mt-0 {
    margin-top: 0;
}

.mt-15 {
    margin-top: 15px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-200 {
    margin-top: 200px;
    @media #{$phone-landscape} {
      margin-top: 40vmin;
    }
}

.ml-10 {
    margin-left: 10px;
}

.my-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mt-0 {
    margin-top: 0;
}

.mt-15 {
    margin-top: 15px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-200 {
    margin-top: 200px;
}

.ml-10 {
    margin-left: 10px;
}

.my-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.my-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}
/* COLORS */
.bgc-black {
    background-color: $black;
    @include autoColor($black);
}

.bgc-paradise-pink {
    background-color: $red;
    @include autoColor($red);
}

.bgc-purple-haze {
    background-color: #430318;
    @include autoColor(#430318);
}

.bgc-blue-bird {
    background-color: #00a4bb;
    @include autoColor(#00a4bb);
}

.bgc-green-sparrow {
    background-color: #4c9a17;
    @include autoColor (#4c9a17);
}

.bgc-gold-rush {
    background-color: #4f481c;
    @include autoColor (#4c9a17);
}

.tc-white {
    color: $white;
}
/*EXTRA*/
.about-border-box:nth-child(3n+1) .circle-img:hover {
    border: 5px solid $red;
}

.about-border-box:nth-child(3n+2) .circle-img:hover {
    border: 5px solid $pink;
}

.about-border-box:nth-child(3n+3) .circle-img:hover {
    border: 5px solid $yellow;
}

/* BUTTONS */
.large-button {
    outline: none;
    text-align: center;
    border: 2px solid #DC4A5C;
    background-color: $white;
    width: 40%;
    padding: 10px;
    color: $grey;
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
        background-color: $red;
        color: $white;
    }
}
//CLICKEVENT ABOUT US
.overlay-matte {
    background-color: $red;
    @include autoColor($red);
    .btnClose {
        background-color: $yellow;
        color: $grey;
    }
}

.overlay-andreas {
    background-color: $pink;
    @include autoColor($pink);
    .btnClose {
        background-color: $red;
        color: $white;
    }
}

.overlay-nicolas {
    background-color: $yellow;
    @include autoColor($yellow);
    .btnClose {
        background-color: $red;
        color: $white;
    }
}

.img-clicked {
    position: absolute;
    padding: 2em;
    left: 30%;
    width: 40%;
    height: 50%;
    opacity: 0.9;
    border-radius: 10px;
    -webkit-animation: aboutborderboxin 1s ease-in-out;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease -out;
    -webkit-box-shadow: 0 -1px 27px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 -1px 27px -1px rgba(0,0,0,0.75);
    box-shadow: 0 -1px 27px -1px rgba(0,0,0,0.75);
}

.btnClose {
    user-select: none;
    border-radius: 10px;
    font-size: $base-font;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;

    &:hover {
        background-color: #C17982;
    }

    &:active {
        background-color: #8B585F;
    }
}

.pointer-event {
    pointer-events: none;
}

.line-small {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.service-icon {
    transition: all 0.2s ease-in-out;
}

.box {
    transition: all 0.2s ease-in-out;

    @media #{$tablet} {
      padding: 0 3em;
    }

    &:hover {
        .service-icon {
            color: $red;
            transform: scale(1.5);
        }
    }
}

.fixed {
    position: fixed;
}

.wrapper-contact {
    width: 90%;
    margin-right: auto;
    margin-left: auto;

    @media #{$tablet} {
      width: 70%;
    }

    @media #{$desktop} {
      width: 60%;
    }
}

.fc-inherit {
  color: inherit;
}

#popup-matte {
    display: none;
}

#popup-andreas {
    display: none;
}

#popup-nico {
    display: none;
}

.heading-person {
    font-size: 2rem;
}

.title-person {
    font-style: italic;
}