@import 'variables';
@import 'mixins';

/* MAIN SETTINGS */

* {box-sizing:border-box;}

.canvas {font: 1em 'Roboto', sans-serif; line-height: 1.5;}

[class*="col-"] {float:left;}

.row {padding: 0.5em;}

.row:after {content:""; clear:both; display:block;}

img {max-width: $w12; height:auto; vertical-align: middle;}

/* MOBILE PHONE COLUMN GRID */

[class*="col-"] {width:$w12;}

/* EXTRA MOBILE PHONE GRID */
.col-m-6 {width: $w6;}

/* TABLET COLUMN GRID */

@media only screen and (min-width:$tablet) {

.col-t-1 {width:$w1;}
.col-t-2 {width:$w2;}
.col-t-3 {width:$w3;}
.col-t-4 {width:$w4;}
.col-t-5 {width:$w5;}
.col-t-6 {width:$w6;}
.col-t-7 {width:$w7;}
.col-t-8 {width:$w8;}
.col-t-9 {width:$w9;}
.col-t-10 {width:$w10;}
.col-t-11 {width:$w11;}
.col-t-12 {width:$w12;}

}

/* DESKTOP COLUMN GRID */

@media only screen and (min-width:$desktop) {

.col-d-1 {width:$w1;}
.col-d-2 {width:$w2;}
.col-d-3 {width:$w3;}
.col-d-4 {width:$w4;}
.col-d-5 {width:$w5;}
.col-d-6 {width:$w6;}
.col-d-7 {width:$w7;}
.col-d-8 {width:$w8;}
.col-d-9 {width:$w9;}
.col-d-10 {width:$w10;}
.col-d-11 {width:$w11;}
.col-d-12 {width:$w12;}

}

/* MAIN CONTAINERS */

.wrapper {
  margin-right: auto;
  margin-left: auto;
}

.wrapper-center {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.tablet {display: none;}
.desktop {display: none;}

.info-brand {
  position: relative;
  overflow: hidden;
}

.square {
width: 220px;
height: 220px;
}

.rectangle {
  width: 350px;
  height: 200px;
}
.brand-text {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  color: white;
   background: rgba(228,142,152,0.75);
   -webkit-transition: all 0.6s ease;
   -moz-transition: all 0.6s ease;
   @include flex(center, center);
 }
.brand-logo {
  max-width: 100%;
  padding: 1rem;
}
.info-brand:hover {
  .brand-logo {
    opacity: 0.5;
  }
  .brand-text {
    opacity: 1;
  }
}

.about-us-box{
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.box {padding: 2.2em;}
.flex-center {@include flex(center, center);}


/* ICONS */

.footer-icon{
  text-decoration: none;
  color: white;
  &:hover{
    opacity: 0.5;
  }
}

/* TEXT SETTINGS */
p {
  font-size: 5vmin; margin: 0;
}

.h1,
.h2,
.h3 {
  margin-top: 8px;
  margin-bottom: 5px;
}

.h1{
  font-size: 7vmin;
  text-align: center;
  /*text-transform: uppercase;*/
}
.h2 {
  font-size: 4vmin;
  color: white;
}

.h3 {font-size: 5.5vmin;}
ul{
  font-size: 5vmin;
}
.h4 {font-size: 5vmin; margin: 5px;}

.h5 {font-size: 4.5vmin;}

.h6 {font-size: 4vmin;}



.section-header {
  font-size: 7vmin;
  padding: 4rem 0 2rem 0;
  text-align: center;
}


.services {
  display: none;
  padding: 0 1rem 0 1rem;
  margin: 10px 0 60px 0;
  font-size: 2.2vmin;
}


.text-center {
  text-align: center;
}

.skills{
  height: 100px;
  background-image: linear-gradient(#F38BD3, #FE7880);
}

/* IMAGES */

  .circle-img{
    border-radius: 50%;
    width: 50%;
    height: 50%;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .8);
}

.bgimg-1 {
    min-height: 300px;
    background-image: url(../pics/pinklady.jpg);
}

.bgimg-1fix {
  min-height: 300px;
  background-position: center;
  background-size: cover;
  background-image: url(../pics/pinklady-fix.jpg);
}

.bgimg-2 {
  min-height: 300px;
  background-image: url(../pics/pinklady2.jpg)
}

.bgimg-2fix {
  min-height: 300px;
  background-position: center;
  background-size: cover;
  background-image: url(../pics/pinklady2-fix.jpg);
}

.bgimg-3 {
  min-height: 300px;
  background-image: url(../pics/pinklady3.jpg)
}

.bgimg-3fix {
  min-height: 300px;
  background-position: center;
  background-size: cover;
  background-image: url(../pics/pinklady3-fix.jpg);
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grow {
  width: 85%;
}

/* FORMS */
.contact-form{
  .text-form{
    outline: none;
    border: none;
    border-bottom: 2px solid #E28F9A;
    padding: 12px 8px;
    &:focus{
      background-color: #EFEFD2;
    }
  }
  .textarea-form{
    outline: none;
    border: none;
    border-bottom: 2px solid #E28F9A;
    resize: none;
    padding: 12px 8px;
    &:focus{
      background-color: #EFEFD2;
    }
  }
  .submit-button{
    outline: none;
    border: 2px solid #DC4A5C;
    border-radius: 25px;
    background-color: white;
    width: 60%;
    padding: 10px;
    color: #4B4D54;
    transition: all 0.5s;
    cursor: pointer;
    &:hover{
      background-color: #DC4A5C;
      color: white;
    }
  }
}

.topnav {
  text-align:right;
  margin: auto;
  background-color: transparent;
}

.fp-header{
  height: 100vh;
  background-image: url(../pics/header1.jpg);
  background-size: cover;
  background-position: center;
}

.header-text{
  position:absolute;
  top: 45%;
  text-align:center;
  width:100%;
  color: #EFF0D1;
  font-size:22px;
}

  /* ANIMATIONS */
    .ease-08 {
      -webkit-transition: all 0.8s ease;
      transition: all 0.8s ease;
    }

/* LISTS */

.topnav {
  z-index: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

.desktop-nav {
  margin: 0;
  padding: 5px;
}
.logo {
  margin: 10px 0 0 10px;
  float: left;
  width: 35px;
  height: 40px;
}

.nav-item {
  display: none;
  min-height: 40px;
}

.responsive-nav {
  position: relative;
  padding: 0;
  margin: 0;
}


.nav-item:hover {
  background-color: rgba(223, 72, 89, 0.5);
}

.responsive-nav {
    .nav-item {
        float: none;
        display: inline;
        .nav-links {
            display: block;
            text-align: left;
            &:hover {
                background-color: rgba(223, 72, 89, 0.5);
            }
        }
    }
}
.no-style{list-style: none;}
.inline-flex {display: inline-flex;}

/* LINKS */
.nav-links {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 5px 15px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 5vmin;
  min-height: 40px;
}

.links{
  text-decoration: none;
  color: #2a2b2f;
}

.active {
  background-color: rgba(223, 72, 89, 0.5);
}

.nav-icon {
  font-size: $base-font * 1.5;
  text-decoration: none;
  color: white;
}
.nav-icon:hover {
  background-color: none;
  cursor:pointer;
}

.nav-logo {
  float: left;
  padding: 5px;
}

.scrollToTop{
  display: none;
  position:fixed;
  bottom: 0;
  left:45vw;
    i
    {
    color: #e48e98;
  }
}


/* PADDINGS & MARGINS */
.p-5{padding: 5px;}
.p-10{padding: 10px;}
.p-25{padding: 25px;}
.p-40{padding: 40px;}
.p-70{padding: 70px;}
.m-0{margin: 0;}
.p-0{padding: 0;}
.pb-0{padding-bottom: 0;}
.pb-10{padding-bottom: 10px;}
.pb-45{padding-bottom: 45px;}
.pr-0{padding-right: 0;}
.pr-10{padding-right: 10px;}
.pl-0{padding-left: 0;}
.pt-0{padding-top: 0;}
.pt-40 {padding-top: 40px;}
.pt-115{padding-top: 115px;}
.mb-15{margin-bottom: 15px;}
.mb-64{margin-bottom: 64px;}
.mt-50 {margin-top: 50px;}
.mt-5{margin-top: 17px;}  //korr Om oss mitten bild


/* COLORS */
.bgc-yellow {
  background-color: #eff0d1;
}

.bgc-red {
background-color: #df4859;
}

.bgc-black {
  background-color: black;
}

.bgc-paradise-pink {
  background-color: #DF4859;
}

.bgc-eggshell {
  background-color: #EFF0D1;
}

.tc-white {
  color: white;
}

.tc-rudy-pink {
  color: #E48E98;
}

.tc-grey {
  color: #4B4D54;
}

.tc-headerblack {
  color: #2a2b2f;
}

/*EXTRA*/
.linje {margin-top: 15px; margin-bottom: 15px;}
