@import 'variables';

@media only screen and (min-width:$small-phone){
   .spider-logo-footer {
    display: block;
    margin: 0 auto;
  }

  .wrapper-contact {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media only screen and (min-width:$medium-phone) {
 .spider-logo-footer {
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (min-width:$large-phone) {
.spider-logo-footer {
   display: block;
   margin: 0 auto;
}

}


@media only screen and (min-width:$tablet) {
  .wrapper-center {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-left: auto;
  margin-right: auto;
  }
  .wrapper-p {
   width: 70%;
   margin: auto;
 }
 .row {padding-top: 2rem; padding-bottom: 0;}

 .divider {
 padding-top: 5rem;
 padding-bottom: 5rem;
}

.pb-5-tablet {padding-bottom: 5rem;}
.pt-1 {padding-top: 0;}
.p-3 {padding-bottom: 0};
.pt-2 {
  padding-top: 0;
}
.pb-45 {padding-bottom: 0;}

  .wrapper-contact {
   width: 70%; margin-right: auto;
   margin-left: auto;
 }

    body{font-size: 1rem;}
  .header-text{font-size: 5rem;}
  .header-text2{font-size: 1.7rem}
  .footer-text {font-size: 0.8rem;}
   h1{font-size: 2.8em;}
   h2{font-size: 1.9em;}
   h3{font-size: 1.5em;}
   h4{font-size: 1.2em;}
   h5{font-size: 1.1em;}
   h6{font-size: 1.8em;    }
   li {font-size: 1em;}
   .box {padding: 0 3em 0 3em;}
   .textbox{padding-left: 3em; padding-right: 3em;}
   .parallax {display: none;}
   .service-icon {
    height: 170px;
    width: 170px;
    }
   .nav-item {display: inline-block;}
   .nav-icon {display: none;}
   .nav-links {font-size: 19px;}
   .tablet {display: block;}
   .contact-form .submit-button {width: 20%;}
   #map {display: block;}
   #hamburger {display: none;}
   .topnav {position: fixed;}
   .scrollToTop {display: none;}
   #logo {width: 90%;}
   #hamburger {display: none;}
   .panel {
    width: 95%;
    height: 250px;
  } 
  .brand-text {font-size: 0.9rem;}
  .spider-logo-footer {
   display: none;
}
  .textbox{text-align: left;}
  .pt-35-tablet {padding-top: 3.5rem;}

}

@media only screen and (max-width: $tablet) {
  .parallax {display: none;}

li{font-size: 1em;}
h1{font-size: 1.8em; margin-bottom: 0;}
h2{font-size: 1.6em;}
h3{font-size: 1.2em; margin: 0;}
h4{font-size: 1.1em; margin:0;}
h5{font-size: 1em;}
h6{font-size: 1.4em;}
}

@media only screen and (min-width: $desktop) {
  .row {padding-top: 2rem; padding-bottom: 0;}
  .bgimg-1fix {display: none;}
  .bgimg-2fix {display: none;}
  .bgimg-3fix {display: none;}

  .wrapper-center {
  padding-right: 1rem;
  padding-left: 1rem;
  width: 85%;
  margin-left: auto;
  margin-right: auto;

  }

  .textbox{padding-left: 6em; padding-right: 6em;}

  .wrapper-p{width: 60%; margin: auto;}
  .wrapper-contact {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }
  .header-text{font-size: 6rem;}
  .header-text2{font-size: 2rem;}
  h1{font-size: 2.9em;}
  h2{font-size: 2.2em;}
  h3{font-size: 1.4em;}
  h4{font-size: 1.2em;}
  li {font-size: 1.1em;}
  .parallax {
    display: flex;
  }
  .contact-form .submit-button {width: 20%;}
  input[type=submit]{width: 50%;}
  .desktop {display: block;}
  #logo{width: 115%; padding: 8px;}
  #desktop-nav {padding: 12px;}
  .nav-links {font-size: 24px;}
  .brand-text {font-size: 1rem;}
  .panel {height: 300px;}
  .pt-35-tablet {padding-top: 0;}
  .pt-35-dektop {padding-top: 3.5rem;}

 }
