@import 'variables';

@media only screen and (min-width:$small-phone){
  .brand-logo {
    top: 3.5em;
    left: 7em;
  }

  .brand-1 {
    top: 3em;
    left: 0.8em;
  }

  .brand-2 {
    top: 1.5em;
    left: 1em;
  }

  .brand-3 {
    top: 1em;
    left: 0.5em;
  }
  .spider-logo-footer {
    display: block;
  }
}

@media only screen and (min-width:$medium-phone) {
  .brand-logo {
    top: 3em;
    left: 8.2em;
  }
  .brand-1 {
    top: 1.8em;
    left: 1.2em;
  }

  .brand-2 {
    top: 0.8em;
    left: 1em;
  }

  .brand-3 {
    top: 0;
    left: 1.2em;
  }
  .spider-logo-footer {
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (min-width:$large-phone) {
  .brand-logo {
  top: 2.5em;
  left: 9em;
}

.brand-1 {
  top: 1em;
  left: 0.7em;
}

.brand-2 {
  top: 0;
  left: 1em;
}

.brand-3 {
  top: 0.4em;
  left: 0.1em;
  font-size: 3.8vmin;
}
.spider-logo-footer {
  display: none;
}

}

@media only screen and (min-width:$tablet) {
    .wrapper-p {
      width: 70%;
    }
    .wrapper{
      width: 80%;
    }

    .wrapper-center {
  margin-right: auto;
  margin-left: auto;
}
    .wrapper-contact {
      width: 70%; margin-right: auto;
      margin-left: auto;
    }
    .header-text{font-size: 5rem;}
    h1{font-size: 2.8em;}
    h2{font-size: 2em;}
    h3{font-size: 1.3em;}
    h4{font-size: 1em;}
    h5{font-size: 2em;}
    li {font-size: 1em;}
    .box {padding: 2.2em;}
    .textbox{padding: 2em;}
    .parallax {display: none;}
    .services {display: block; font-size: 1em;}
    /*.header {font-size: 5vmin;}*/
    .nav-item {display: inline-block;}
    .nav-icon {display: none;}
    .nav-links {font-size: $base-font * 1.2;}
    .tablet {display: block;}
    .contact-form .submit-button {width: 20%;}
    #map {display: block;}
    #hamburger {display: none;}
    .topnav {
      position: fixed;
    }
    .mobile {display: none;}
    .scrollToTop {display: none;}
    #logo {width: 90%;}
    #hamburger {display: none;}
    .panel {
        width: 240px;
        height: 240px;
      }
      .brand-logo {
        top: 5.2em;
        left: 5.2em;
      }
      .brand-logo-rectangle {
        top: 2.5em;
        left: 8em;
      }
  .brand-text {
    font-size: 0.8rem;
  }
  .brand-person {
    font-size: 0.9rem;
  }
  .brand-1 {
    top: 2.5em;
    left: 0.5em;
  }
  .brand-2 {
  top: 2em;
  left: 0;
  }

  .brand-3 {
  top: 2em;
  left: 0;
  }

  .brand-4 {
  top: 2em;
  left: 0;
  }

  .brand-5 {
  top: 2em;
  left: 0;
  }
  .panel-rectangle {
      width: 360px;
      height: 180px;
  }
}

@media only screen and (max-width: $tablet) {
  .parallax {display: none;}
}

@media only screen and (min-width: $desktop) {
  body {
    margin: auto;
  }
  
  .bgimg-1fix {display: none;}
  .bgimg-2fix {display: none;}
  .bgimg-3fix {display: none;}
  .wrapper-center {width:90%;}
  .wrapper{width: 80%;}
  .wrapper-p{width: 60%;}
  .wrapper-contact {
    width: 60%; margin-right: auto;
    margin-left: auto;
  }
  .textbox{padding: 1.8em;}
  .header-text{font-size: 6rem;}
  h4{font-size: 1.2em;}
  li {font-size: 1.2em;}
  .parallax {
    display: block;
    display: flex;
  }
  .services{font-size: 1em;}
  .contact-form .submit-button {width: 20%;}
  input[type=submit]{width: 50%;}
  .desktop {display: block;}
  #logo{width: 115%; padding: 8px;}
  #desktop-nav {padding: 12px;}
  .nav-links {font-size: 24px;}
  .panel {width: 95%; height: 40vmin;}
  .panel-rectangle {width: 96.5%;}
  .brand-text {font-size: 2.8vmin;}
  .brand-person {
    font-size: 2.5vmin;
  }
  .brand-1 {
    top: 9%;
    left: 4%;
  }

  .brand-2 {
  top: 2%;
  left: 2%;
  }

  .brand-3 {
  top: 1%;
  left: 2%;
  }

  .brand-4 {
  top: 22%;
  left: 2%;
  }

  .brand-5 {
  top: 22%;
  left: 2%;
  }

  .brand-logo {
    top: 35%;
    left: 34%;
  }

  .brand-logo-rectangle {
    top: 28%;
    left: 34%;
  }

}
